{% extends 'mlfu/base.html' %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html>
<br>
<br>
<br>
<br>
  <head><center><h1>Q. 당신은 어떤 방송사의 드라마를 가장 좋아하십니까?</h1></center><br>
    <meta charset="utf-8">
    <title>질문 2(찡그림)</title>
    <style>
    #mainNav{
      padding:9px;
    }
    </style>
  </head>
  <body>
    <p align='center'><input type='button' id="show_button" class='button button1 options' value='KBS' style="width:300pt;height:35pt;font-size:20px;" onclick="onYouTubeIframeAPIReady2('PLPKZ6FAxaaf-3hB25RxNtE6AE7ZtaU5Qp');"></p>
    <p align='center'><input type='button' id="show_button" class='button button1 options' value='MBC' style="width:300pt;height:35pt;font-size:20px;" onclick="onYouTubeIframeAPIReady2('PLPKZ6FAxaaf9OCNJ78XPZ2um0UBeVwszD');"></p>
    <p align='center'><input type='button' id="show_button" class='button button1 options' value='SBS' style="width:300pt;height:35pt;font-size:20px;" onclick="onYouTubeIframeAPIReady2('PLPKZ6FAxaaf9Kx9UXB4kbQHjqaO5-3qEP');"></p>
    <p align='center'><input type='button' id="show_button" class='button button1 options' value='tvN' style="width:300pt;height:35pt;font-size:20px;" onclick="onYouTubeIframeAPIReady2('PLPKZ6FAxaaf_d8w2hLcfu6ath9nh6T6MF');"></p>
    <p align='center'><input type='button' id="show_button" class='button button1 options' value='JTBC' style="width:300pt;height:35pt;font-size:20px;" onclick="onYouTubeIframeAPIReady2('PLPKZ6FAxaaf9kH9m52BZ_iyy1n6ll-fwU');"></p><br>

    <center><div id="player2"></div></center><br>
  <br>
    <form method="POST" name="send_playlist" action="http://127.0.0.1:8000/camera2/check_playlist/">
      {% csrf_token %}
      <input type="hidden" name="playlistid" value="">
      <input type="hidden" name="videoid" value="">
      <center><input type="button" id="select" class="button button1" value="관련 추천곡 들어보기" style="width:300pt;height:35pt;font-size:20px;display:none;" onclick="videoidsubmit(); send_playlist.submit();"></center>
    </form>
      <br>
    <center><button type='button' class="button button1" id='reselect' value='reselect' style="width:300pt;height:35pt;font-size:20px;display:none;" onclick="window.location.reload()">다시 선택하시겠습니까?</center><br>

    <script>

          // 2. This code loads the IFrame Player API code asynchronously.
          var tag = document.createElement('script');

          tag.src = "https://www.youtube.com/iframe_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          function onYouTubeIframeAPIReady2(playlist_url) {
              // alert(playlist_url);
              // alert(document.send_playlist.playlistid);
              document.send_playlist.playlistid.value=playlist_url;
              // alert(document.send_playlist.playlistid);

              var numPl = Math.floor((Math.random() * 100) + 1);
              var player2 = new YT.Player("player2", {
                  remember_last_time : false,
                  height: '290',
                  width: '540',
                  playerVars: {
                      listType:'playlist',
                      list: playlist_url,
                      index: numPl,
                      autoplay: 1, // 자동재생
                      loop: 1, // 반복재생

      },
                  events: {
                      'onReady': function (event) {
                          //event.target.cuePlaylist({list: "PLPKZ6FAxaaf9ve5PmOfLul2YmKqFy1BiW"});
                          //event.target.playVideo();
                          setTimeout(function() {
                              event.target.setShuffle({'shufflePlaylist' : true});
                          }, 100);
                      }
                  }
                });
                myPlayer = player2;
                console.log(myPlayer);
                return myPlayer;
            };
            // 버튼 클릭 시 새로고침 버튼과 추천 버튼 보여줌
            $(function () {
              $("[id=show_button]").on('click', function () {
                $("[id=select]").show();
                $("[id=reselect]").show();

        });
    });
    // 버튼 클릭 시 현재 재생곡의 video id submit
    function videoidsubmit(){
      var video_id = myPlayer.getVideoData()[Object.keys(myPlayer.getVideoData())[0]];
      console.log(video_id)
      document.send_playlist.videoid.value=video_id;
    }

    </script>

    <!-- 음악 추천 시 로딩 모달창 -->
    <div id="modal" class="searchModal">
    <div class="search-modal-content" style="width: 376px;">
    <div class="page-header">
    <h2>음악 추천 중입니다....</h2>
    <hr>
    </div>
    <div class="row">
    <div class="col-sm-12">
    <img src="{% static 'img/Ripple-1s-200px.gif' %}" style="width: 200px; height: 200px;" alt="">
    </div>
    </div>
    </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function(){
          $("#select").button().click(function(){
        $("#modal").show();
     });
  });
      </script>
    <br><br><br><br><br><br><br><br><br><br>
  </body>
</html>
{% endblock %}
